// app global css in Sass form

body
  font-family: Plus Jakarta Sans, sans-serif

.content-width
  width: 100%
  @media (min-width: 1280px)
    width: 1280px

.mobile-hide
  @media (max-width: 1160px)
    display: none

.mini-hide
  @media (max-width: 700px)
    display: none

.micro-hide
  @media (max-width: 410px)
    display: none

.mobile-display
  display: none
  @media (max-width: 1160px)
    display: inline-block

.full-height
  height: 100%

.full-width
  width: 100%

.font-small
  font-size: 12px

.color-main-transparent-60
  color: rgba(0, 71, 55, 0.6)

.color-main
  color: $primary

.btn
  margin: auto 4px
  color: $primary

.btn-main
  background: linear-gradient(96.62deg, #56F09F 0%, #A3FFE5 100%)

.btn-alt
  border: 2px solid #56F09F

.btn-small
  height: 36px
  border-radius: 18px

.highlight-transparent-10
  background: rgba(61, 187, 119, 0.1)
  backdrop-filter: blur(2px)


